page-home {
  .tbgwrap { padding: 10px;}
  .tphoto {
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
  }

  ion-icon {
    font-size: 40px;
  }

  .button-group {
    text-align: center;
    margin-top: 2 vh;
  }

  .button-click {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
